<!DOCTYPE html>
	<html>
		<head>
			<!--<link rel="stylesheet" type="text/css" href="/css/main.css">-->
			<link rel="stylesheet" type="text/css" href={{ "/css/main.css" | relative_url }}>
			<title>{{ page.title }}</title>
		</head>
		<body>
			<span class="logoImport">import</span><span class="logoTitle"> The:PeopleSoft:Experience;</span>
			<nav>
					<ul>
						<li><a href={{ "/"  | relative_url }}>%EffDtCheck(Posts a_ed, a, :1)</a></li>
						<li><a href={{ "/blog" | relative_url }}>%SelectAll(Posts)</a></li>
						<li><a href={{ "/blog" | relative_url }}>%SelectByKey(Posts)</a></li>
				</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
						<li><a href="mailto:m.nitschke@gmail.com">%EmailAddress</a></li>
						<li><a href="http://www.linkedin.com">TransferPage(Page.LinkedIn)</a></li>
						<li><a href={{ "/articles" | relative_url }}>GetURL(URL.InterestingArticles)</a></li>
				</ul>
			</footer>
		</body>
	</html> 
